@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

body
  margin: 0
  font-family: 'Mulish', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: rgb(244,240,243)
  background: linear-gradient(90deg, rgba(244,240,243,1) 0%, rgba(234,243,247,1) 100%)
